body {
    background-color: #222831;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EEEEEE;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #00ADB5;
}

h3 {
    color: #00ADB5;
}

p {
    color: #EEEEEE;
}

li {
    color: #EEEEEE;
}

th {
    color: #00ADB5;
}

td {
    color: #EEEEEE;
}

label {
    color: #EEEEEE;
}