body {
    background-color: #222831;
}

.page {
    border-radius: 4vh;
    background-color: #393E46;
    padding: 5%;
    margin: 10%;
    
}

#pp-img {
    float: left;
    margin: 0 5% 0 0;
}

h1 {
    color: #00ADB5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    height: 8vh;
    margin: 0;
}

#subtext {
    height: 10vh;
    font-size: 90%;
}

p {
    color: #EEEEEE;
    font-family: 'Courier New', Courier, monospace;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EEEEEE;
    border-width: 5px;
    width: 5%;
}

h2 {
    color: #00ADB5;
}



h3 {
    color: #00ADB5;
}

a {
    color: #EEEEEE;
}

li {
    color: #EEEEEE;
}

th {
    color: #00ADB5;
}

td {
    color: #EEEEEE;
}

label {
    color: #EEEEEE;
}





.cert-content {
    border-radius: 4vh;
    background-color: #393E46;
    padding: 5%;
    margin: 10%;
}

.skill-content {
    border-radius: 4vh;
    background-color: #393E46;
    padding: 5%;
    margin: 10%;
}

.skill-table {
    display: inline-block;
    padding: 5%;
    border-radius: 4vh;
    background-color: #222831;
    margin: 3%;
    vertical-align: middle;
    text-align: center;
}

.link-content {
    color: #EEEEEE;
}

.getintouch-content {
    border-radius: 4vh;
    background-color: #393E46;
    padding: 5%;
    margin: 10%;
}

.form-content {
    border-radius: 4vh;
    background-color: #393E46;
    padding: 5%;
    margin: 10%;
}

.workexperience-content {
    border-radius: 4vh;
    background-color: #393E46;
    padding: 5%;
    margin: 10%;
}